
#hero-header
{
    background-image: url(assets/banner-nav3.jpg);
}
#logo-text a
{
    text-decoration: none;
    color: #fff;
}
#logo-text
{
    font-size: 19pt;
    font-weight: 600;
}
#navbar
{
    padding-top: 30px;
    margin-left: 20px;
}
#active
{
    color: #00D8FF;  
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li
{
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    font-weight: 500;
}
.btn1
{
    z-index: 1000;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 60%;
    margin-top: -20px;
    padding: 8px;
    background-color: #00D8FF;
}
.btn1:hover{
    background-color: #75efbc;
}
.btn2:hover{
    background-color: #75efbc;
}
.line
{
    border: 1.5px solid #fff;
    opacity: 1;
    width: 91.5%;
    margin-left: 35px;
}
#layer-blk
{
    background: rgba(59, 182, 231, 0.5);  
    height: 100vh;
    background-size: cover;
    position: relative;
}
.menu li a
{
    text-decoration: none;
    color: #fff;
}
 .menu li:hover a
{   
    color: #00D8FF;
}

#para
{
    color: #fff;
    font-size: 60pt;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 60px;
}
.btn2
{
    color: #fff;
    background-color: #00D8FF;
    border: none;
    border-radius: 5px;
    padding: 16px;
    width: 15%;
    margin-left: 40px;
}
#flow
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -57.5px;
    background-color: #fff;
    width: 80%;
    position: absolute;
    left: 10%;
}
.btn-mob
{
    display: none;
   
}
.btn-mob button{
    all: unset;
}
.btn-mob i
{
    color: #fff;
}
#main-p{
    display: flex;
    padding: 0px;
    gap: 3px;
}
.icons-1
{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #00D8FF;
    color: #fff;
    width: 150px;
}
.icons-2
{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #00D8FF;
    color: #fff;
    width: 150px;
}
.icons-3
{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #00D8FF;
    color: #fff;
    width: 150px;
}
.icons-1:hover
{
    color: grey;
    background-color: #fff;
}
.icons-2:hover
{
    color: grey;
    background-color: #fff;
}
.icons-3:hover
{
    color: grey;
    background-color: #fff;
}
#tree-icons
{
    margin-top: 7px;
}
#tree-icons:hover{
    transform: rotate(360deg);
    transition: 1s;
}
#select-abc
{
    width: 90%;
    height: 35px;
    padding: 20px;
}
#select-abc2
{
    width: 90%;
    height: 35px;
    padding: 20px;
    margin-top: 10px;
}
#chechin-box{
    display: flex;
    padding: 35px;
}
#b222{
    display: flex;
    gap: 30px;
}
#Destination
{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
#dest
{
    font-size: 16pt;
    font-weight: 500;
    color: #565A5C;
}
.date
{
    border: 1px solid grey;
    height: 30px;
    padding: 20px;
}
#ggg
{
    margin-top: 20px;
}
#range
{
    padding-left: 20px;
    margin-left: 20px;
}
#budget
{
    padding: 40px;
    justify-content: space-between;
}
.btn-search
{
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #00D8FF;
    padding: 17px;
    width: 175px;
}
#space
{
    text-align: center;
    margin-top: 400px;
    padding: 50px;
    margin-bottom: 80px;
}
#vvvv
{
    background-color: #F9F9F9;
}
#picture img{
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
}
#zzz
{
    text-align: center;
    padding: 100px;
}
#picture
{
    padding-bottom: 20px;
}
.para-1
{
    color: #fff;
    font-size: 22px;
    font-weight:500;
    margin-left: 190px;
    margin-top: -135px;
    z-index: 1;
}
.para-2
{
    color: #fff;
    font-size: 22px;
    font-weight:500;
    padding: 5px;
    margin-left: 35px;
    margin-top: -135px;
}
.para-3
{
    color: #fff;
    font-size: 22px;
    font-weight:500;
    margin-left: 180px;
    margin-top: -127px;
}
.para-4
{
    color: #fff;
    font-size: 22px;
    font-weight:500;
    margin-left: 85px;
    margin-top: -127px;
}
.para-6
{
    color: #fff;
    font-size: 22px;
    font-weight:500;
    margin-left: 85px;
    margin-top: -127px;
}
.para-5
{
    color: #fff;
    font-size: 22px;
    font-weight:500;
    margin-left: 17px;
    margin-top: -127px;
}
.dest-img-1
{
    margin-left: 150px;
    padding: 10px;
}
.hov{
    overflow:hidden;
    transition: transform 5s ease; /* Smooth slow transition */
    transform: scale(1);
}
.hov:hover img{
    transform: scale(1.2);
}
.hov:hover p
{
    color: #75efbc;
    position: sticky;
}
.dest-img-2
{
    padding: 10px;
    margin-left: -3px;
}
.dest-img-3
{
    padding: 10px;
    margin-left: 150px;
}
.dest-img-4
{
    padding: 10px;
    margin-left: 49px;
}
.dest-img-5
{
    margin-left: -54px;
    padding: 10px;
}
.dest-img-6
{
    margin-left: 52px;
    padding: 10px;
    margin-top: 21px;
}
.pack-6 h5
{
    font-size: 24px;
    font-weight: 500;
}
.pack-6
{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    font-size: 24px;
    font-weight: 500;
}
.card-line
{
    margin-top: -15px;
}
.pack-list
{
    list-style-type: ">";
    padding: 3px;
}
#star
{
    display: flex;
    justify-content: space-around;
    padding: 3px;
    margin-left: -44px;
}
#con-pack
{
    padding: 40px;
}
#packages
{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}
#packages h5
{
    font-size: 22pt;
}
#pack-box-1:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#pack-box-2:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#pack-box-3:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#pack-box-4:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#pack-box-5:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#pack-box-6:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#pack-box-1
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 354px;
    padding: 0px;
    margin-left: 5%;
    border-radius: 7px;
}   
#pack-box-2
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 354px;
    padding: 0px;
    margin-left: 3%;
    border-radius: 7px;
}
#pack-box-3
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 354px;
    padding: 0px;
    margin-left: 3%;
    border-radius: 7px;
}
#pack-box-4
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 354px;
    padding: 0px;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 7px;
}
#pack-box-5
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 354px;
    padding: 0px;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 7px;
}
#pack-box-6
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 354px;
    padding: 0px;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 7px;
}
#details
{
    font-size: 12pt;
    margin-left: 20px;
}
#r-star
{
    margin-left: 12px;
    color: #B0B0B0;
}
.list
{
    list-style-type: ">";
    padding: 0px;
    color: #B0B0B0;
}
.italy
{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 16pt;
    color: #565A5C;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}
.line-2
{
    width: 85%;
    margin-left: 26px;
    border-width: 2px;
}
.fa-star
{
    color: #FFDF00;
}
#button
{
    padding: 25px;
    margin-top: 16px;
}
.btn3
{
    color: #fff;
    background-color: #00D8FF;
    border: none;
    padding: 6px;
    width: 38%;
    border-radius: 10px;
}
.btn3:hover{
    background-color: #75efbc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#main-review{
    margin-top: 20px;
    margin-bottom: 60px;
}
.client-r-1
{
    text-align: center;
    padding: 40px;
    margin-top: 20px;
}
.client-r-1 h5 
{
    color: #4D4E54;
    font-size: 22pt;
}
#main-grp-3{
    width: 330px;
    margin-left: 125px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 400px;
    border-radius: 10px;
}
#main-grp-3-2{
    width: 330px;
    margin-left: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#main-grp-3-3{
    width: 330px;
    margin-left: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.test-img
{
    border-radius: 50%;  
    margin-top: 20px;
}
#card-img-3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
}
.semi-colon-icon
{
    color: #DDDDDD;
    font-size: 20pt;
    text-align: center;
}
.card-grp-3-p1{
    color: #565A5C;
    font-weight: 500;
    text-align: center;
}
.card-grp-3-p2{
    color: #00D8FF;
    font-weight: 600;
    text-align: center;
}
.card-grp-3-p3{
    color: #BEBEBE;
    text-align: center;
    margin-bottom: 30px;
}
#main-con-offer{
    background: url(assets/offer-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0px;
    overflow-x: hidden;
    margin-bottom: 50px;
}
.layer-blue{
    background: rgba(102, 232, 255, 0.681);
    height: 100vh;
    color: #fff;
}
#col-9-offer{
    margin-top: 6%;
    padding: 8%;
}
#col-9-offer h4{
    margin-bottom: 20px;
    font-size: 22pt;
    color: #74EAFF;
}
.icon-5
{
    margin-bottom: 15px;
}
.icon-review{
    padding-right: 20px;
}
.daays{
    display: flex;
    list-style-type: ">";
    padding-top: 10px;
}
.daays li{
    padding-right: 20px;
}
.p-offer{
    margin-top: 35px;
    margin-bottom: 35px;
}
.btn-tour
{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 105px;
}
.btn-book{
    color: #fff;
    background-color: #00D8FF;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    padding: 6px;
    width: 105px;
}
.btn-book:hover{
    background-color: #75efbc;
}
#col-offer-3{
    background: url(assets/offer-shape.png);
    background-size: cover;
    background-position: center;
    padding: 0px;
    width: 25%;
    margin-top: -30px;
    clip-path: polygon(0 0, 52% 0, 100% 0, 100% 100%, 50% 93%, 0 100%);
}
.layer-blue-2{
    background: rgba(102,232,255,0.8);
    opacity: 1;
    height: 100vh;
    color: #fff;
    clip-path: polygon(0 0, 52% 0, 100% 0, 100% 99.5%, 50% 90.%, 0 99.5%);
    text-align: center;
}
.spc-offer{
    font-size: 25pt;
    font-weight: 700;
    padding-top: 90px;
}
.span-1{
    font-size: 45pt;
    font-weight: 800;
    margin-top: 40%;
}
.off{
    font-size: 23pt;
    font-weight: 600;
}
.span-3{
    margin-top: 90px;
    font-size: 52pt;
    font-weight: 800;
}
.Reguler{
    font-size: 18pt;
}
.r1-news{
    text-align: center;
    padding-top: 20px;
}
.r1-news h5{
    font-size: 25pt;
    color: #565A5C;
}
.r1-news p{
    color: #B0B0B0;
    font-weight: 400;
}
.card-news-3{
    margin: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 86%;
}
.card-news-3-2{
    margin-left: 41px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 86%;
}
.card-news-3-3{
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 86%;
}
.card-r-1{
    padding: 20px;
}
.tred{
    color: #565A5C;
    font-weight: 500;
}
.nov{
    padding-left: 22px;
    color: #B7B7B7;
}

.card-img-layer-1{
    background: url(assets/news-web3.jpg)center;
    height: 215px;
}
.card-img-layer-2{
    background: url(assets/news2-web3.jpg)center;
    height: 215px;
}
.card-img-layer-3{
    background: url(assets/news3-web3.jpg)center;
    height: 215px;
}
.layer-img{
    background: rgba(0, 0, 0, 0.5);
    height: 215px;
}
.layer-img:hover{
    background: rgba(252, 251, 251, 0);
}
.card-r-3 a{
    text-decoration: none;
    color: #5B5F61;
    font-weight: 500;
}
.disc{
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 1px;
    line-height: 30px;

}
.lorem{
    color: #B0B0B0;
    padding-left: 20px;
    font-weight: 400;
}
.read-m{
    color: #00D8FF;
    border: none;
    margin: 15px;
    background-color: transparent;
}
.subs-box{
    padding: 5px;
    background-color: #fff;
    padding: 23px;
    margin-top: 10px;
    border-radius: 100px;
}
#input-subs{
    border: none;
    width: 20%;
    padding: 8px;
}
#subs-i{
    color: #5B5F61;
    margin-left: 15px;
}
.subs-btn{
    border: none;
    border-radius: 100px;
    background-color: #00D8FF;
    color: #fff;
    font-weight: 500;
    font-size: 14pt;
    padding: 15px;
    margin-right: -18px;
    width: 190px;
}
#r-subs-box{
    text-align: center;
    padding: 90px;
    background-color: #74EAFF;
    margin-bottom: 40px;
}
.join{
    font-size: 27pt;
    color: #fff;
    font-weight: 500;
}
.p-join{
    color: #fff;
    font-size: 16pt;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 30px;
}
#r-footer{
    margin-top: 20px;
    margin-bottom: 170px;
}
#footer-logo-text a{
    color: #565A5C;
    text-decoration: none;
}
#footer-logo-text
{
    font-size: 26pt;
    font-weight: 600;
    padding-left: 190px;
    margin-top: 5%;
}
.best{
    color: #5B5F61;
    font-size: 12pt;
}
.p-link{
    font-weight: 600;
    font-size: 15pt;
    margin-left: 32px;
    color: #565A5C;
    margin-bottom: 20px;
}
.footer-link a {
    color: #565A5C;
    font-weight: 500;
    text-decoration: none;
}
.footer-link{
    list-style-type: none;
    line-height: 30px;
}
.footer-box-3{
    margin-left: -118px;
}
.footer-box-2{
    margin-left: -30px;
}
.footer-box-1{
    margin-left: 55px;
}
.footer-hr{
    color: #4D4E54  ;
    width: 76%;
    margin-bottom: 40px;
    margin-left: 170px;
}
#f-logo{
    text-align: center;
    margin-bottom: 60px;
}
#r-f-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 20px;
}
#f-logo-i1{
    background-color:#3B5999;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    padding: 25px;
    width: 67px; 
}
#f-logo-i1:hover{
    transform: rotate(360deg);
    transition: 1s;
    color: #74EAFF;
}
#f-logo-i2:hover{
    transform: rotate(360deg);
    transition: 1s;
    color: #74EAFF;
}
#f-logo-i3:hover{
    transform: rotate(360deg);
    transition: 1s;
    color:#74EAFF;
}
#f-logo-i2{
    background-color:#1DA1F3;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    padding: 25px;
    width: 67px;
    margin-left: 25px;
    margin-right: 25px;
}
#f-logo-i3{
    background:linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    padding: 25px;
    width: 67px; 
}
#p-reserved{
    color: #AAAAB1;
}
#theme{
    color: #00D8FF;
    font-weight: 500;
}

@media only screen and (max-width:768px) 
{
    .line
    {
        margin-left: 20px;
    }
    #navbar {
        padding-top: 20px;
        margin-left: 0px;
    }
    .menu, #bn
    {
        display: none;
    }  
    .btn-mob
    {
        display: block;
        margin-right: 20px;
    } 
    #logo-text {
       display: flex;
       justify-content: space-between;
    }     
    #para
    {
        margin-top: 80px;
        font-size: 40pt;
    }
    .btn2
    {
        width: 35%;
    }
    .menu{
        margin-top: 30px;
    }
    .menu li
    {
        display: flex;
        justify-content: end;
        align-items: end;
        color: #fff;
        margin-right: 20px;
        font-weight: 500;
    }
    #active
    {
        color: #fff;
    }
    .menu li:hover a
    {   
        color: #FFF;
    }
}
